<style>
    h1 {text-align: center; background-color:powderblue; }
    div {text-align: center;}
    </style>
<h1>Welcome to the best Movie searcher of all time!</h1>
<div>
    <form action="/results" method="GET">
    <input type="text" placeholder="Search it!" name="search">
    <input type="submit">
    
</form>
</div>
