<h1> Welcome My Friends</h1>
<h2>The rapper that you prefer is <%= rapperVar.toUpperCase() %>  </h2>


<% if(rapperVar.toLowerCase() === "anser"){ %>
<h1>Σωστή απάντηση τρελέ μου ο ΑΝΣΕΡ θερίζει</h1>
<% } %>

<p>this is like.js</p> 