
<html lang="en">
    <head>
        <title>Things i've learned
        </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    
    </body>
</html>
<!-- 
    <h1> Things i've learned</h1>
<h2>
    Internet basics
</h2>
<ol><li>Stands for http</li>s
    <li>Lots of Tags</li>
<ol><li>boilerplate</li>
<ol><li>doctype</li>
    <li>html</li> 
    <li>head</li>
    <li><em>em</em></li>
    <li><b>bold</b></li>
    </ol>

</ol> -->
<table>
    <thead>
        <tr><th>Name</th>
            <th>Evolves to</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Bulbasar</td>
            <td>Venosar</td>
        </tr>
        <tr>
            <td>Charmander</td>
            <td><a href="https://bulbapedia.bulbagarden.net/wiki/Charizard_(Pok%C3%A9mon)">Charizard</a>
            </td>
        </tr>

    </tbody>
   
</table>
<img width="150" src= "https://m.media-amazon.com/images/I/81LT0UL+LTL._SS500_.jpg">



<h1>Log In</h1>

<form action="Test2.html">

<label for="username">email:</label>
<input id="username" type="email" placeholder="username" required="true">

<label for="password"></label>Password:</label>
<input id="password" type="password" placeholder="password">
<input type="submit">
</form>


<p><a href = "http://www.athenscars.net">Press here to get free money</a></p>
<div><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Et modi quod illum cupiditate fugit incidunt vero sed quae quia. 
    Quae dolorum autem aut perferendis pariatur, ipsam temporibus dolorem. Esse, asperiores!
</p></div>

<a href = "Test2.html">Press here to see dawgs</a>

</ol>
    <p>This was supposed to be the first lesson ever lol</p>
</html>

<p> What languages are you learning at this period?</p>
<form>
    <label for="JS">JS:</label>
    <input name="langChoice" id="JS" type="radio"value="JS">
    <label for="Java">Java:</label>
    <input name="langChoice"id="Java" type="radio"value="Java">
    <label for="C#">C#:</label>
    <input name="langChoice"id="C#" type="radio"value="C#">
    <label for="Python">Python:</label>
    <input name="langChoice"id="Python" type="radio"value="Python">
    <label for="CSS">CSS:</label>
    <input name="langChoice"id="CSS" type="radio"value="CSS">
    <label for="HTML">HTML:</label>
    <input name="langChoice"id="HTML" type="radio"value="HTML">



<p>Back End or Front End?</p>
<select name="lang">
    <option>Back End</option>
    <option>Front End</option>
</select>
<p>Tell me why you prefer it?</p>
<textarea rows="2" cols= "10"></textarea>

<button> submit </button>

</form>





<h1> Register</h1>

<form>
<label for="name">First name:</label>
<input name="name"id="name" type="text" required="true">
<label for="last">Lastname:</label>
<input name="last" id="last" type="text" required="true"><br>
<label for="male">Male</label>
    <input name="gender" id="male" type="radio"value="male">
<label for="female">Female</label>
    <input name="gender" id="female" type="radio"value="female">
<label for="other">Other</label>
    <input name="gender" id="other" type="radio"value="other"><br>


<label for="mail">Email:</label>
    <input id="mail" type="email" required="true" placeholder="Your email">
<label for="pwd">Password</label>
    <input id="pwd" type="password" required="true" placeholder="Your password" pattern=".{5,10}"required title="5 to 10 characters" ><br>

<label for="bday" >Birthday:</label>
    <select name="bday" placeholder="Month">
        <option>Month</option>
        <option>January</option>
        <option>February</option>
    </select>
    <select name="bday" placeholder="Day">
        <option>Day</option>
        <option>2</option>
        <option>1</option>
    </select>
    <select name="bday" placeholder="year">
        <option>Year</option>
        <option>2000</option>
        <option>1990</option>
    </select>
    <label for="agreed">I agree to terms and conditions</label> <input type="checkbox"></p>
<button>Submit</button>


</form>

